<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user list</title>
    <meta name="description" content="blank page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../assets/css/weather-icons.min.css" rel="stylesheet" />

    <!--Beyond styles-->
    <link id="beyond-link" href="../assets/css/beyond.min.css" rel="stylesheet" />
    <link href="../assets/css/demo.min.css" rel="stylesheet" />
    <link href="../assets/css/typicons.min.css" rel="stylesheet" />
    <link href="../assets/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="../assets/js/skins.min.js"></script>
</head>
<body>
<h2>用户列表  <a href="home/index.html" th:href="@{/home/index}">返回首页</a></h2>
<div>
    <table>
        <thead>
        <tr>
            <td>操作</td>
            <td>编号</td>
            <td>用户名称</td>
            <td>用户ID</td>
            <td>注册日期</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">

            <td><a href="user/detail.html" th:href="@{/User/GetUserBySysNo(sysno=${user.getSysNo()})}">查看详情</a></td>
            <td th:text="${user.getSysNo()}"></td>
            <td th:text="${user.getUserName()}"></td>
            <td th:text="${user.getUserID()}"></td>
            <td th:text="${user.getIndateTxt()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>